html, body{
    height: 100%;
    font-size: 14px;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

*{
    text-align: center;
    margin: 0;

}

h1, h2,p{
    margin: 0.5rem;
    color: aliceblue;
}

#logsArea{
    text-align: left;
    font-size: 0.9rem;
    resize: none;
}